# DigitalOcean API token used to create infrastructure
do_token = ""

# Path to private key
pvt_key = ""

# Lets encrypt email
lets_encrypt_email = ""

# Root domain for rancher
rancher_root_domain = ""

# Sub domain for rancher
rancher_sub_domain = "rancher"

# Version of cert-manager to install alongside Rancher (format: 0.0.0)
cert_manager_version = "1.7.1"

# DigitalOcean region used for all resources
do_region = "nyc1"

# Droplet images used for all droplets
droplet_image = "ubuntu-20-04-x64"

# Droplet size used for all droplets
droplet_size = "s-2vcpu-4gb"

# Kubernetes version to use for Rancher server cluster
rancher_kubernetes_version = "v1.21.11+k3s1"

# Rancher server version (format: v0.0.0)
rancher_version = "v2.6.4"
